

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #f1edee;
    color: #3d5467;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-content: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: #db5461;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    color: #3d5467;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

a.active,
a:hover {
    color: #db5461;
    border-bottom: 3px solid #db5461;
}

@media(max-width:995px){
    nav{
        position: absolute;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #db5461;
        border-bottom: 3px solid #db5461;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #3d5467;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    }

    nav.active {
        display: block;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #db5461;
    }
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #f1edee;
}

.home .home-content h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color: #db5461;
}

.home-content h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p {
    font-size: 1.6rem;
}

.homeimg {
    border-radius: 50%;
}

.homeimg img {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #db5461;
    cursor: pointer;
    transition: 0.2s linear;
}

.homeimg img:hover {
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: 0.2rem solid #db5461;
    border-radius: 50%;
    background-color: transparent;
    font-size: 2rem;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #db5461;
}

.social-icons a:hover {
    color: #3d5467;
    transform: scale(1.3) translate(-5px);
    box-shadow: 0 0 25px #db5461;
    background-color: #db5461;
}

.button {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #3d5467;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #f1edee;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #db5461;
    transition: 0.3s ease;
    cursor: pointer;
}

.button:hover {
transform: scale3d(1.03);
background-color: #db5461;
color: #3d5467;
box-shadow: 0 0 25px #db5461;
}

.container {
    max-width: 900px;
    margin: 100px auto;
    padding: 20px;
    background-color: #3d5467;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.form-section {
    width: 60%;
}

.form-section h2 {
    color: #db5461;
    font-size: 24px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f1edee;
    color: #3d5467;
}

input:focus, textarea:focus {
    outline: none;
    border: 1px solid #db5461;
}

button {
    background-color: #db5461;
    color: #f1edee;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d73f4e;
}

.info-section {
    width: 35%;
}

.info-section h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #db5461;
}

.info-section p {
    margin: 10px 0;
    color: #f1edee;
    font-size: 15px;
}

.info-section a {
    color: #f1edee;
    text-decoration: none;
    margin-right: 15px;
    transition: color 0.3s;
}

.container-resume {
    max-width: 1000px;
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.container-resume h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

.contact-resume {
    margin-top: -10px;
    font-size: 14px;
}

.contact-resume a {
    color: #db5461;
    text-decoration: none;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    text-align: left;
    vertical-align: top;
    padding: 8px;
}

th {
    font-size: 20px;
    border-bottom: 2px solid #db5461;
}

td {
    border-bottom: 1px solid #db5461;
}

.education-table td {
    width: 33%;
}

.experience-table td {
    padding-bottom: 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #3d5467;
}
